In [24]:
import pyodbc 
import pandas as pd
from io import StringIO

In [2]:
connection = pyodbc.connect('DSN=TDPRODA;UID=Z001C9V;PWD=XXXXX')
cursor = connection.cursor()
cursor.execute("select top 10 * from PRODRPT_V.CAL_DATE_DIM_V WHERE ACCT_YR_I = 2017")
results = cursor.fetchall()
print(results)
connection.close()

[(datetime.date(2017, 8, 20), 2017232, 'Sunday   ', 232, 1, 20, 232, 34, 'Aug Week 34', 3, 'Aug Week 3', 34, datetime.date(2017, 8, 20), 2017232, datetime.date(2017, 8, 26), 2017238, 8, 'August', 'Aug  ', datetime.date(2017, 8, 1), 2017213, datetime.date(2017, 8, 31), 2017243, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6442, 204, 1, 22, 22, 3004, 30, 'Week 30', 4, 'Aug Week 4', 4, datetime.date(2017, 8, 20), 2017232, datetime.date(2017, 8, 26), 2017238, datetime.date(2017, 8, 20), datetime.date(2017, 8, 26), '2017 Aug WK 4', '2017 7  WK 4', 691, 7, 'August    ', 'Aug  ', 4, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 8, 26), 2017238, '2017  Aug', '2017  7', 231, 3, 13, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 10, 28), 2017301, '2017   Q 3', 116, 2, datetime.date(2017, 7, 30), 2017211, datetime.date(2018, 2, 3), 2018034, '2017   Fall', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 8, 21), datetime.date(2016, 8, 27), datetime.date(2016, 8, 27), datetime.date(2016, 10, 29), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), 2016, '2017 Aug WK 4', '2017 8 WK 4', '2017 Aug', '2017 8', datetime.date(2017, 8, 6), datetime.date(2017, 7, 22), datetime.date(2017, 8, 13), datetime.date(2017, 7, 2), datetime.date(2017, 4, 30), datetime.date(2017, 1, 29), datetime.date(2016, 1, 31), datetime.date(2017, 8, 19), datetime.date(2016, 7, 31), 0, 1, 1, 1, 1, 1, datetime.date(2016, 8, 27), 30, 2016, datetime.date(2017, 8, 23), -3, datetime.date(2017, 8, 13), datetime.date(2017, 8, 19)), (datetime.date(2017, 3, 22), 2017081, 'Wednesday', 81, 4, 22, 81, 12, 'Mar Week 12', 3, 'Mar Week 3', 12, datetime.date(2017, 3, 19), 2017078, datetime.date(2017, 3, 25), 2017084, 3, 'March', 'Mar  ', datetime.date(2017, 3, 1), 2017060, datetime.date(2017, 3, 31), 2017090, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6291, 53, 4, 25, 53, 2982, 8, 'Week 8', 4, 'Mar Week 4', 8, datetime.date(2017, 3, 19), 2017078, datetime.date(2017, 3, 25), 2017084, datetime.date(2017, 3, 19), datetime.date(2017, 3, 25), '2017 Mar WK 4', '2017 2  WK 4', 686, 2, 'March     ', 'Mar  ', 5, datetime.date(2017, 2, 26), 2017057, datetime.date(2017, 4, 1), 2017091, '2017  Mar', '2017  2', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 3, 23), datetime.date(2016, 3, 26), datetime.date(2016, 4, 2), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Mar WK 4', '2017 3 WK 4', '2017 Mar', '2017 3', datetime.date(2017, 3, 8), datetime.date(2017, 2, 18), datetime.date(2017, 3, 12), datetime.date(2017, 1, 29), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 3, 21), datetime.date(2016, 2, 28), -22, 0, 0, 0, 0, 1, datetime.date(2016, 4, 16), 11, 2016, datetime.date(2017, 8, 23), -154, datetime.date(2017, 3, 15), datetime.date(2017, 3, 18)), (datetime.date(2017, 11, 19), 2017323, 'Sunday   ', 323, 1, 19, 323, 47, 'Nov Week 47', 3, 'Nov Week 3', 47, datetime.date(2017, 11, 19), 2017323, datetime.date(2017, 11, 25), 2017329, 11, 'November', 'Nov  ', datetime.date(2017, 11, 1), 2017305, datetime.date(2017, 11, 30), 2017334, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6533, 295, 1, 22, 22, 3017, 43, 'Week 43', 4, 'Nov Week 4', 4, datetime.date(2017, 11, 19), 2017323, datetime.date(2017, 11, 25), 2017329, datetime.date(2017, 11, 19), datetime.date(2017, 11, 25), '2017 Nov WK 4', '2017 10  WK 4', 694, 10, 'November  ', 'Nov  ', 4, datetime.date(2017, 10, 29), 2017302, datetime.date(2017, 11, 25), 2017329, '2017  Nov', '2017  10', 232, 4, 14, datetime.date(2017, 10, 29), 2017302, datetime.date(2018, 2, 3), 2018034, '2017   Q 4', 116, 2, datetime.date(2017, 7, 30), 2017211, datetime.date(2018, 2, 3), 2018034, '2017   Fall', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 11, 20), datetime.date(2016, 11, 26), datetime.date(2016, 11, 26), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), 2016, '2017 Nov WK 4', '2017 11 WK 4', '2017 Nov', '2017 11', datetime.date(2017, 11, 5), datetime.date(2017, 10, 21), datetime.date(2017, 11, 12), datetime.date(2017, 10, 1), datetime.date(2017, 7, 30), datetime.date(2017, 1, 29), datetime.date(2016, 1, 31), datetime.date(2017, 11, 18), datetime.date(2016, 10, 30), 13, 0, 0, 0, 0, 0, datetime.date(2016, 11, 26), 43, 2016, datetime.date(2017, 8, 23), 88, datetime.date(2017, 11, 12), datetime.date(2017, 11, 18)), (datetime.date(2017, 3, 24), 2017083, 'Friday   ', 83, 6, 24, 83, 12, 'Mar Week 12', 3, 'Mar Week 3', 12, datetime.date(2017, 3, 19), 2017078, datetime.date(2017, 3, 25), 2017084, 3, 'March', 'Mar  ', datetime.date(2017, 3, 1), 2017060, datetime.date(2017, 3, 31), 2017090, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6293, 55, 6, 27, 55, 2982, 8, 'Week 8', 4, 'Mar Week 4', 8, datetime.date(2017, 3, 19), 2017078, datetime.date(2017, 3, 25), 2017084, datetime.date(2017, 3, 19), datetime.date(2017, 3, 25), '2017 Mar WK 4', '2017 2  WK 4', 686, 2, 'March     ', 'Mar  ', 5, datetime.date(2017, 2, 26), 2017057, datetime.date(2017, 4, 1), 2017091, '2017  Mar', '2017  2', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 3, 25), datetime.date(2016, 3, 26), datetime.date(2016, 4, 2), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Mar WK 4', '2017 3 WK 4', '2017 Mar', '2017 3', datetime.date(2017, 3, 10), datetime.date(2017, 2, 18), datetime.date(2017, 3, 12), datetime.date(2017, 1, 29), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 3, 23), datetime.date(2016, 2, 28), -22, 0, 0, 0, 0, 1, datetime.date(2016, 4, 16), 11, 2016, datetime.date(2017, 8, 23), -152, datetime.date(2017, 3, 17), datetime.date(2017, 3, 18)), (datetime.date(2017, 11, 2), 2017306, 'Thursday ', 306, 5, 2, 306, 44, 'Oct Week 44', 5, 'Oct Week 5', 44, datetime.date(2017, 10, 29), 2017302, datetime.date(2017, 11, 4), 2017308, 11, 'November', 'Nov  ', datetime.date(2017, 11, 1), 2017305, datetime.date(2017, 11, 30), 2017334, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6516, 278, 5, 5, 5, 3014, 40, 'Week 40', 1, 'Nov Week 1', 1, datetime.date(2017, 10, 29), 2017302, datetime.date(2017, 11, 4), 2017308, datetime.date(2017, 10, 29), datetime.date(2017, 11, 4), '2017 Nov WK 1', '2017 10  WK 1', 694, 10, 'November  ', 'Nov  ', 4, datetime.date(2017, 10, 29), 2017302, datetime.date(2017, 11, 25), 2017329, '2017  Nov', '2017  10', 232, 4, 14, datetime.date(2017, 10, 29), 2017302, datetime.date(2018, 2, 3), 2018034, '2017   Q 4', 116, 2, datetime.date(2017, 7, 30), 2017211, datetime.date(2018, 2, 3), 2018034, '2017   Fall', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 11, 3), datetime.date(2016, 11, 5), datetime.date(2016, 11, 26), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), 2016, '2017 Nov WK 1', '2017 11 WK 1', '2017 Nov', '2017 11', datetime.date(2017, 10, 19), datetime.date(2017, 9, 30), datetime.date(2017, 10, 22), datetime.date(2017, 10, 1), datetime.date(2017, 7, 30), datetime.date(2017, 1, 29), datetime.date(2016, 1, 31), datetime.date(2017, 11, 1), datetime.date(2016, 10, 2), 10, 0, 0, 0, 0, 0, datetime.date(2016, 11, 5), 40, 2016, datetime.date(2017, 8, 23), 71, datetime.date(2017, 10, 26), datetime.date(2017, 10, 28)), (datetime.date(2017, 2, 25), 2017056, 'Saturday ', 56, 7, 25, 56, 8, 'Feb Week 8', 3, 'Feb Week 3', 8, datetime.date(2017, 2, 19), 2017050, datetime.date(2017, 2, 25), 2017056, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6266, 28, 7, 28, 28, 2978, 4, 'Week 4', 4, 'Feb Week 4', 4, datetime.date(2017, 2, 19), 2017050, datetime.date(2017, 2, 25), 2017056, datetime.date(2017, 2, 19), datetime.date(2017, 2, 25), '2017 Feb WK 4', '2017 1  WK 4', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 27), datetime.date(2016, 2, 27), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 4', '2017 2 WK 4', '2017 Feb', '2017 2', datetime.date(2017, 2, 11), datetime.date(2017, 1, 21), datetime.date(2017, 2, 12), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 24), datetime.date(2016, 1, 31), -26, 0, 0, 0, 0, 1, datetime.date(2016, 2, 27), 4, 2016, datetime.date(2017, 8, 23), -179, datetime.date(2017, 2, 18), datetime.date(2017, 2, 18)), (datetime.date(2017, 7, 30), 2017211, 'Sunday   ', 211, 1, 30, 211, 31, 'Jul Week 31', 5, 'Jul Week 5', 31, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 8, 5), 2017217, 7, 'July', 'Jul  ', datetime.date(2017, 7, 1), 2017182, datetime.date(2017, 7, 31), 2017212, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6421, 183, 1, 1, 1, 3001, 27, 'Week 27', 1, 'Aug Week 1', 1, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 8, 5), 2017217, datetime.date(2017, 7, 30), datetime.date(2017, 8, 5), '2017 Aug WK 1', '2017 7  WK 1', 691, 7, 'August    ', 'Aug  ', 4, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 8, 26), 2017238, '2017  Aug', '2017  7', 231, 3, 13, datetime.date(2017, 7, 30), 2017211, datetime.date(2017, 10, 28), 2017301, '2017   Q 3', 116, 2, datetime.date(2017, 7, 30), 2017211, datetime.date(2018, 2, 3), 2018034, '2017   Fall', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 7, 31), datetime.date(2016, 8, 6), datetime.date(2016, 8, 27), datetime.date(2016, 10, 29), datetime.date(2017, 1, 28), datetime.date(2017, 1, 28), 2016, '2017 Aug WK 1', '2017 8 WK 1', '2017 Aug', '2017 8', datetime.date(2017, 7, 16), datetime.date(2017, 7, 1), datetime.date(2017, 7, 23), datetime.date(2017, 7, 2), datetime.date(2017, 4, 30), datetime.date(2017, 1, 29), datetime.date(2016, 1, 31), datetime.date(2017, 7, 29), datetime.date(2016, 7, 3), -3, 0, 1, 1, 1, 1, datetime.date(2016, 8, 6), 27, 2016, datetime.date(2017, 8, 23), -24, datetime.date(2017, 7, 23), datetime.date(2017, 7, 29)), (datetime.date(2017, 6, 8), 2017159, 'Thursday ', 159, 5, 8, 159, 23, 'Jun Week 23', 1, 'Jun Week 1', 23, datetime.date(2017, 6, 4), 2017155, datetime.date(2017, 6, 10), 2017161, 6, 'June', 'Jun  ', datetime.date(2017, 6, 1), 2017152, datetime.date(2017, 6, 30), 2017181, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6369, 131, 5, 12, 40, 2993, 19, 'Week 19', 2, 'Jun Week 2', 6, datetime.date(2017, 6, 4), 2017155, datetime.date(2017, 6, 10), 2017161, datetime.date(2017, 6, 4), datetime.date(2017, 6, 10), '2017 Jun WK 2', '2017 5  WK 2', 689, 5, 'June      ', 'Jun  ', 5, datetime.date(2017, 5, 28), 2017148, datetime.date(2017, 7, 1), 2017182, '2017  Jun', '2017  5', 230, 2, 13, datetime.date(2017, 4, 30), 2017120, datetime.date(2017, 7, 29), 2017210, '2017   Q 2', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 6, 9), datetime.date(2016, 6, 11), datetime.date(2016, 7, 2), datetime.date(2016, 7, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Jun WK 2', '2017 6 WK 2', '2017 Jun', '2017 6', datetime.date(2017, 5, 25), datetime.date(2017, 5, 6), datetime.date(2017, 5, 28), datetime.date(2017, 4, 30), datetime.date(2017, 1, 29), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 6, 7), datetime.date(2016, 5, 29), -11, 0, 0, 0, 0, 1, datetime.date(2016, 6, 11), 19, 2016, datetime.date(2017, 8, 23), -76, datetime.date(2017, 6, 1), datetime.date(2017, 6, 3)), (datetime.date(2017, 7, 21), 2017202, 'Friday   ', 202, 6, 21, 202, 29, 'Jul Week 29', 3, 'Jul Week 3', 29, datetime.date(2017, 7, 16), 2017197, datetime.date(2017, 7, 22), 2017203, 7, 'July', 'Jul  ', datetime.date(2017, 7, 1), 2017182, datetime.date(2017, 7, 31), 2017212, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6412, 174, 6, 20, 83, 2999, 25, 'Week 25', 3, 'Jul Week 3', 12, datetime.date(2017, 7, 16), 2017197, datetime.date(2017, 7, 22), 2017203, datetime.date(2017, 7, 16), datetime.date(2017, 7, 22), '2017 Jul WK 3', '2017 6  WK 3', 690, 6, 'July      ', 'Jul  ', 4, datetime.date(2017, 7, 2), 2017183, datetime.date(2017, 7, 29), 2017210, '2017  Jul', '2017  6', 230, 2, 13, datetime.date(2017, 4, 30), 2017120, datetime.date(2017, 7, 29), 2017210, '2017   Q 2', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 7, 22), datetime.date(2016, 7, 23), datetime.date(2016, 7, 30), datetime.date(2016, 7, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Jul WK 3', '2017 7 WK 3', '2017 Jul', '2017 7', datetime.date(2017, 7, 7), datetime.date(2017, 6, 17), datetime.date(2017, 7, 9), datetime.date(2017, 5, 28), datetime.date(2017, 1, 29), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 7, 20), datetime.date(2016, 7, 3), -5, 0, 0, 0, 0, 1, datetime.date(2016, 7, 23), 25, 2016, datetime.date(2017, 8, 23), -33, datetime.date(2017, 7, 14), datetime.date(2017, 7, 15)), (datetime.date(2017, 5, 30), 2017150, 'Tuesday  ', 150, 3, 30, 150, 22, 'May Week 22', 4, 'May Week 4', 22, datetime.date(2017, 5, 28), 2017148, datetime.date(2017, 6, 3), 2017154, 5, 'May', 'May  ', datetime.date(2017, 5, 1), 2017121, datetime.date(2017, 5, 31), 2017151, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6360, 122, 3, 3, 31, 2992, 18, 'Week 18', 1, 'Jun Week 1', 5, datetime.date(2017, 5, 28), 2017148, datetime.date(2017, 6, 3), 2017154, datetime.date(2017, 5, 28), datetime.date(2017, 6, 3), '2017 Jun WK 1', '2017 5  WK 1', 689, 5, 'June      ', 'Jun  ', 5, datetime.date(2017, 5, 28), 2017148, datetime.date(2017, 7, 1), 2017182, '2017  Jun', '2017  5', 230, 2, 13, datetime.date(2017, 4, 30), 2017120, datetime.date(2017, 7, 29), 2017210, '2017   Q 2', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 5, 31), datetime.date(2016, 6, 4), datetime.date(2016, 7, 2), datetime.date(2016, 7, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Jun WK 1', '2017 6 WK 1', '2017 Jun', '2017 6', datetime.date(2017, 5, 16), datetime.date(2017, 4, 29), datetime.date(2017, 5, 21), datetime.date(2017, 4, 30), datetime.date(2017, 1, 29), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 5, 29), datetime.date(2016, 5, 1), -12, 0, 0, 0, 0, 1, datetime.date(2016, 6, 4), 18, 2016, datetime.date(2017, 8, 23), -85, datetime.date(2017, 5, 23), datetime.date(2017, 5, 27))]

In [28]:
type(results)

list

In [29]:
# read in a list
DF_TEST = pd.DataFrame.from_records(results)

In [30]:
DF_TEST

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,2017-08-20,2017232,Sunday,232,1,20,232,34,Aug Week 34,3,...,1,1,1,2016-08-27,30,2016,2017-08-23,-3,2017-08-13,2017-08-19
1,2017-03-22,2017081,Wednesday,81,4,22,81,12,Mar Week 12,3,...,0,0,1,2016-04-16,11,2016,2017-08-23,-154,2017-03-15,2017-03-18
2,2017-11-19,2017323,Sunday,323,1,19,323,47,Nov Week 47,3,...,0,0,0,2016-11-26,43,2016,2017-08-23,88,2017-11-12,2017-11-18
3,2017-03-24,2017083,Friday,83,6,24,83,12,Mar Week 12,3,...,0,0,1,2016-04-16,11,2016,2017-08-23,-152,2017-03-17,2017-03-18
4,2017-11-02,2017306,Thursday,306,5,2,306,44,Oct Week 44,5,...,0,0,0,2016-11-05,40,2016,2017-08-23,71,2017-10-26,2017-10-28
5,2017-02-25,2017056,Saturday,56,7,25,56,8,Feb Week 8,3,...,0,0,1,2016-02-27,4,2016,2017-08-23,-179,2017-02-18,2017-02-18
6,2017-07-30,2017211,Sunday,211,1,30,211,31,Jul Week 31,5,...,1,1,1,2016-08-06,27,2016,2017-08-23,-24,2017-07-23,2017-07-29
7,2017-06-08,2017159,Thursday,159,5,8,159,23,Jun Week 23,1,...,0,0,1,2016-06-11,19,2016,2017-08-23,-76,2017-06-01,2017-06-03
8,2017-07-21,2017202,Friday,202,6,21,202,29,Jul Week 29,3,...,0,0,1,2016-07-23,25,2016,2017-08-23,-33,2017-07-14,2017-07-15
9,2017-05-30,2017150,Tuesday,150,3,30,150,22,May Week 22,4,...,0,0,1,2016-06-04,18,2016,2017-08-23,-85,2017-05-23,2017-05-27